html {
  font:normal 100%/1.5 sans-serif
  font-family: serif;
}

/*this is the light beige colour of the body*/
body{
  margin: 0;
  background-color: #fdf6e3;
}

/* This is the title fruit factory*/
.logo {
  text-transform: uppercase;
  font-family: serif;
}

/*these are the navigation options*/
header nav {
  font-family: sans-serif;
}

/*this is the dark beige color of the main body,*/
.wrapper {
  background-color: #eee8d5;
}

/*these are the lightgray headers*/
.wrapper > h2 {
  font-family: serif;
  color: #93a1a1
}

/*this is the black main text colour*/
main p {
  color:#000
}

/*this is the darkgoldenrod paragraph*/
.wrapper > .dfn {
  background-color: #b58900;
}

/* and this is its white strong text*/
div > strong {
  color: #fff;
}

/*these are the olivedrab links, must be adjusted to remove "nohighlight"*/
li a {
  background-color: #719e07;
}

/*this is obviously the footer*/
footer {
  font-family: serif;
  color: #000
}
